<header>
    <nav  class="d-flex space-between vertical-center">
        <div>
            <a routerLink="">
                 <h1>APP.COMPONENT</h1>
            </a>
           
        </div>
        <div>
            <a>
               <button class="btn-users" routerLink="/user" routerLinkActive="active">USER</button> 
            </a>
            <a>
                <button class="btn-orders" class="btn-users" routerLink="/order" routerLinkActive="active">ORDER</button>
            </a>
        </div>
    </nav>
</header>
